* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
}

.navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.logo {
  position: absolute;
  top:0;
  left:0;
  width: 100px;
  height: 50px;
  background-color: black;
  padding: 12px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.icons {
  margin-left: auto;
}

.icons button{
  width: 40px;
  height: 50px;
  border: none;
  border-left: 1px solid gray;
  cursor: pointer;
  font-size: 20px;
}

.orange {
  color: #f42
}

.gray {
  color: rgb(160, 160, 160);
}

.section1 {
  width: 100%;
  padding: 10px;
}

.sec1 {
  position: relative;
  width: 100%;
  height: 29vh;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.ele1 {
  background-image: url("images/money.png");
}

.ele2 {
    background-image: url("images/Spotify.jpg");
}

.ele3 {
    background-image: url("images/car.jpg");
}

.text {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
}

.black {
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}

.section2 {
  display: block;
  width: calc(100%-20px);
  margin: 20px;
}

.latest-head {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
  font-size: 28px;
  letter-spacing: 0.12rem;
}

.latest-news {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 15px 0;
}
.latest-image {
  width: 75px;
  height: 75px;
}

.latest-text {
  position: absolute;
  top: 0;
  left: 80px;
  padding-right: 80px;
}

.h4-span {
  font-size: 13px;
  color: #666;
  padding-top: 20px;
}

.first-tag {
    color: #f42;
    line-height: 18px;
    font-size: 100%;
}

.tag {
    display: block;
    padding: 5px 0;
}

.funds {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.funds-img {
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 10px;
}

.funds-title {
    background-color: #f42;
    padding-top: 10px;;
    padding-left: 100px;
    height: 40px;
    color: white;
}

.funds-price {
    background-color: rgba(248, 133, 113, 0.541);
    padding-left: 100px;
    height: 60px;
    padding-top: 10px;
}

.funds-price h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
}

.funds-price h5 {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.5;
}

.funds-links {
    margin: 10px 0;
    border-bottom: 1px solid  rgba(253, 165, 149, 0.452);
    color: #555;
}

.funds-links div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.funds-footer {
    display: block;
    padding-left: 10px;
    color: #555;
}

.sub-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sub-sec-img {
  position: relative;
  max-width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub1 {
  background-image: url("images/stocks.jpg");
}
.sub2 {
  background-image: url("images/Snapchat.jpg");
}
.sub3 {
  background-image: url("images/dogs.png");
}
.sub4 {
  background-image: url("images/facebook.jpg");
}
.sub5 {
  background-image: url("images/designers.jpg");
}
.sub6 {
  background-image: url("images/google.png");
}
.sub7 {
  background-image: url("images/money.png");
}
.sub8 {
  background-image: url("images/humm.jpg");
}
.sub9 {
  background-image: url("images/politics.jpg");
}
.headline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  color: #f42;
}

.headline-head {
  padding: 10px 5px 5px 10px;

}
.headline-img {
  width: 96px;
  height: 96px;
}
.head-line-tag {
  text-decoration: none;
  color: #f42;
}

.head-lists {
  padding: 6px 0 6px;
  list-style-type: none;
  border-bottom: 1px solid #aaa
}
.head-lists::before {
  content: "\2022";
  color: #f42;
  padding-right: 10px;
}
.head-lists-tag {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.foo {
  width: 100%;
  text-align: center;
}

.footer1 {
  background-color: #131313;
  padding: 3em 20px 2em;
}

.social {
  margin: 10px 0 25px 0;
  padding: 10px 0;
}

.social-links {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  border: 2px solid #555;
  border-radius: 50%;
  padding: 10px;
  background-color: #555;
}

.social-links:hover {
  background-color: #131313;
}

.footer-links {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  padding: 0 5px;
}

.footer-links:hover {
  color: white;
}

.footer2 {
  background-color: black;
  color: #aaa;
  padding: 30px 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-img {
  height: 9px;
}

.nav1 {
  display: none;
  width: 100%;
  max-height: 32px;
  background-color: #131313;
  padding: 8px;
}

.nav-news {
  margin-left: 100px;
}

.nav-links {
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  color:rgb(119, 119, 119);
}

.nav-links:hover {
  color: white;
}

.white {
  color: white;
}

.sticky-links {
  display: none;
  margin-left:120px;
  padding-top: 16px;
}

.st-link {
  margin-right: 10px;
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}

.st-link:hover {
  color:black;
}

@media (min-width: 760px) {
  .nav1 {
    display: flex;
  }

  .sticky-links {
    display:block;
  }

  .hide {
    display: none;
  }

  .logo {
    top: -32px;
    height: 82px;
    padding-top: 45px;
  }
}