* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
}

.logo {
  width: 100px;
  height: 40px;
  background-color: black;
  padding: 12px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.icons button{
  width: 40px;
  height: 40px;
  border: none;
  border-left: 1px solid gray;
}

.section1 {
  width: 100vw;
  padding: 10px;
}

.sec1 {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.ele1 {
  background-image: url("images/money.png");
}

.ele2 {
    background-image: url("images/Spotify.jpg");
}

.ele3 {
    background-image: url("images/car.jpg");
}

.text {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
}

.black {
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}

.section2 {
  display: block;
  width: 100%;
  margin: 20px;
}

.latest-head {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
  font-size: 28px;
  letter-spacing: 0.12rem;
}

.latest-news {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 15px 0;
}
.latest-image {
  width: 75px;
  height: 75px;
}

.latest-text {
  position: absolute;
  top: 0;
  left: 80px;
  padding-right: 80px;
}

.h4-span {
  font-size: 13px;
  color: #666;
  padding-top: 20px;
}